
@media (min-width: 768px) {

  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 2rem;
  }

  .hero img {
    max-width: 450px;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    flex: 1 1 calc(33% - 1rem);
  }

  form {
    max-width: 600px;
  }
}
