@media (min-width: 700px) {

 
  #menu {
    display: none;
  }


  nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;
  }

  nav a {
    padding: 0.75rem 1rem;
  }


  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  figure img {
    height: 200px;
    object-fit: cover;
  }
}


nav.open {
  display: flex;
}

main {
  max-width: 900px;
  margin: 1rem auto;
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
}
