@media (min-width: 700px) {
  #menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
